<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="Chart1" xsi:type="File" fileName="file.txt" />
    <target name="Chart" xsi:type="File"
            layout="${longdate} ${message}${exception:format=ToString}"
            fileName= "${specialfolder:folder=LocalApplicationData}/testLog/logs/ChartLog.txt"
            maxArchiveFiles="10"
            archiveAboveSize="10240"
			      archiveFileName="${specialfolder:folder=LocalApplicationData}/testLog/logs/archives/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/ChartLog.{#}.txt"
            archiveEvery="Minute" />
    <target name="OX" xsi:type="File"
              layout="${longdate} ${message}${exception:format=ToString}"
              fileName= "${specialfolder:folder=LocalApplicationData}/testLog/logs/OXLog.txt"
              maxArchiveFiles="10"
              archiveAboveSize="10240"
              archiveFileName="${specialfolder:folder=LocalApplicationData}/testLog/logs/archives/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/OXLog.{#}.txt"
              archiveEvery="Minute" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="Chart" />
  </rules>
</nlog>