<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="Chart1" xsi:type="File" fileName="file.txt" />
    <target name="Chart" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="${basedir}/logs/logfile.txt"
            maxArchiveFiles="10"
            archiveAboveSize="10240"
            archiveEvery="Minute" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="Chart" />
  </rules>
</nlog>